.modal-dialog
  .modal-content
    .modal-body
      .subtitle
        Log in
      .help
        Log in with your email and password below.

      = render "application/alerts"
      = render "form"
