.card.m-t-lg
  .card-img-top{style: "background-image:url('http://www.adu.ac.ae/portals/0/AduImage/calendar-banner.jpg')"}
    %h1= @event.name

  .card-block
    .subtitle
      Invite people to this event by email or Facebook.
