.row.m-b-xs.p-r-lg.xs-down-m-b
  .col-sm-6.sm-up-text-right.gray.xs-down-size-sm
    Member since
  .col-sm-6
    %i.glyphicons.glyphicons-clock.m-r-sm
    = @user.created_at.strftime('%-d').to_i.ordinalize
    = @user.created_at.strftime('%B %Y')

.row.m-b-xs.p-r-lg.xs-down-m-b
  .col-sm-6.sm-up-text-right.gray.xs-down-size-sm
    Created
  .col-sm-6
    %i.glyphicons.glyphicons-classic-hammer.m-r-sm
    = pluralize(@user.created_events.count, 'event')

.row.m-b-xs.p-r-lg.xs-down-m-b
  .col-sm-6.sm-up-text-right.gray.xs-down-size-sm
    Attended
  .col-sm-6
    %i.glyphicons.glyphicons-calendar.m-r-sm
    = pluralize(@user.attended_events.count, 'event')
