- content_for :title, @user.name

.container.m-t-lg.m-b-xxl
  .card
    .card-circle
      .avatar{style: "background-image:url('#{@user.avatar_url}')"}

    .card-block.xs-down-p-t-lg
      %h1.title.text-center.m-t-lg
        = @user.name

      = render "stats"
