- if recent_events.present?
  .container.m-t-lg
    %h4.caps.text-gray.m-b-0
      Recently visited events
  %hr.m-t-sm.m-b-md
  .container
    .row
      - recent_events.each do |event|
        = render "event", event: event

- if (my_events - recent_events).any?
  .container.m-t-lg
    %h4.caps.text-gray.m-b-0
      Events I am attending
  %hr.m-t-sm.m-b-md
  .container
    .row
      - (my_events - recent_events).each do |event|
        = render "event", event: event

- if my_events.blank? && recent_events.blank?
  .container.m-y-lg
    .subtitle.text-center
      You do not have any events.

    %p.m-t.text-center
      Events are what Fuzzy Calendar is all about.
      %br
      To get started, click #{link_to "Create a new event", new_event_path},
      build an event, and invite your friends to participate.

.text-center.m-t-md.m-b-xxl
  .container
    = link_to new_event_path, class: 'btn btn-lg btn-primary' do
      %i.glyphicons.glyphicons-calendar.m-r-xs
      Create a new event
