.container.m-y-lg

  - if my_events.any?
    .row
      - my_events.each do |event|
        = render "event", event: event

  - else
    .subtitle.text-center
      You do not have any events.

    %p.m-t.text-center
      Events are what Fuzzy Calendar is all about.
      %br
      To get started, click #{link_to "Create a new event", new_event_path},
      build an event, and invite your friends to participate.

.text-center.m-t-md.m-b-xxl
  .container
    = link_to new_event_path, class: 'btn btn-lg btn-primary' do
      %i.glyphicons.glyphicons-calendar.m-r-xs
      Create a new event
