.wow-header
  .container
    .subtitle
      Having trouble pinning down dates for meet-ups?

    %h1.super-title
      You probably need a
      %strong Fuzzy Calendar.

    .text-center.m-t-lg
      = link_to "Make one now", new_event_path, class: 'btn btn-lg btn-white-outline'

.container.m-y-lg
  .subtitle
    So what is it?

  %p
    Fuzzy Calendar allows you to invite friends to calendar events whose dates are
    <strong>not fixed yet</strong>. It permits you to notify people of an upcoming
    event that you're organising, while letting your invitees vote on the
    date that best suits them.


  .subtitle.m-t-lg
    How do I do it?

  %p
    Just #{link_to "create an event", new_event_path}! There's no painful sign up process,
    just connect it with your Facebook account and get Fuzzy!
