.modal-dialog
  .modal-content
    .modal-body
      .subtitle
        Contact
      .help
        Need help? Or want to send feedback? Fill out the form below, I'll try to get back to you as soon as possible.

      = render "application/alerts", model: @contact
      = render "form"
