.modal-dialog
  .modal-content
    .modal-body
      .subtitle.m-b
        Much appreciated!

      = render "application/alerts"

      = link_to root_path, class: 'btn btn-secondary' do
        &larr; Return
