@import "variables";
@import 'mixins';
@import 'compass/css3/box-shadow';

.card-img-top {
  height: 200px;
  background-size: cover;
  background-position: center;
  background-color: rgba(192,192,192, 0.25);
  border-radius: 0.25rem;

  h1 {
    text-align: center;
    margin: 0;
    padding: 1em 1em 1em;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.25);
    background-image: linear-gradient(to bottom, rgba(0,0,0, 0.75), transparent);
    border-radius: $border-radius $border-radius 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2rem;
    font-family: $serif;
    font-weight: 700;
  }

  @include media-breakpoint-down(xs) {
    height: 150px;
    h1 {
      padding-top: 2em;
    }
  }
}

form .card-img-top {
  border-radius: 0.25rem 0.25rem 0 0;
}

.card-circle {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
  height: 100px;
  border-radius: $border-radius-circle;
  padding: 10px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    background-color: rgba(255,255,255,0.5);
    border-radius: $border-radius-circle $border-radius-circle 0 0;
  }

  img, .avatar {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
  }
}

.card-circle-transparent {
  &:before {
    display: none;
  }
}

.event-attendees {
  display: block;
  list-style: none;
  padding: 0;
}

.event-attendee {
  display: block;
  line-height: 1.5rem;
  padding: .375rem 0;

  .avatar {
    width: 1.5rem;
    height: 1.5rem;
    float: left;
  }
}


.event-attendee-date {
  color: #888;

  .event-attendee:hover & {
    color: #444;
  }
}

.event-icon {
  width: 100%;
  height: 100%;
  border-radius: $border-radius-circle;
  background-color: #eee;
  background-size: cover;
}

.event-icon-sm {
  width: 24px;
  height: 24px;
}

.event-icon-open {
  background-image: image-url('sprites-retina/event-open.png');
  background-color: $brand-highlight;
}

.event-icon-finalised {
  background-image: image-url('sprites-retina/event-finalised.png');
  background-color: $brand-success;
}

.event-icon-closed {
  background-image: image-url('sprites-retina/event-closed.png');
  background-color: #ccc;
}

.c-cover-image {
  padding-left: 0;
  cursor: pointer;

  img {
    opacity: 0.8;
    display: block;
    background-color: #ccc;
    border-left: solid 1px white;
    border-bottom: solid 1px white;
  }

  &:hover img {
    opacity: 1;
  }
}
