@import "variables";

.avatar {
  display: inline-block;
  border-radius: $border-radius-circle;
  width: 2rem;
  height: 2rem;
  background-size: cover;
  background-position: center;
  background-color: #bbb;
  position: relative;
}
