//$brand-primary:             #5cb85c !default;
$serif:                       Merriweather, serif;


$alert-success-text:          #5cb85c !default;
$alert-success-border:        #5cb85c !default;

$alert-info-text:             #5bc0de !default;
$alert-info-border:           #5bc0de !default;

$alert-warning-text:          #f0ad4e !default;
$alert-warning-border:        #f0ad4e !default;

$alert-danger-text:           #d9534f !default;
$alert-danger-border:         #d9534f !default;

$alert-padding:               10px 15px !default;

$border-radius-circle:        1000px;

$brand-highlight:             #c94465;
$brand-favorite:              #f0ad4e;
$brand-twitter:               #5ea9dd;
$brand-facebook:              #45619e;
$brand-google:                #d73d32;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 34em,
  // Medium screen / tablet
  md: 48em,
  // Large screen / desktop
  lg: 62em//,
  // Extra large screen / wide desktop
  //xl: 75em
) !default;


@import "bootstrap/variables";
