@import "variables";


// Arrows within the title area
%arrow {
  display: block;
  padding: 4px 8px;
  cursor: pointer;

  &:before {
    display: block;
    border: solid 8px;
    content: '';
    position: relative;
  }
}

.arrow-left {
  @extend %arrow;

  &:before {
    border-color: transparent $brand-primary transparent transparent;
    left: -4px;
  }

  &:hover:before {
    border-right-color: darken($brand-primary, 10%);
  }
}

.arrow-right {
  @extend %arrow;

  &:before {
    border-color: transparent transparent transparent $brand-primary;
    left: 4px;
  }

  &:hover:before {
    border-left-color: darken($brand-primary, 10%);
  }
}
