@import "variables";
@import 'mixins';
@import 'compass/css3/transition';

@keyframes glow {
  from { box-shadow: 0 0 0 1px white, 0 0 1px 1px transparent, inset 0 0 1px 1px transparent; }
  to   { box-shadow: 0 0 0 1px white, 0 0 5px 1px $brand-primary, inset 0 0 10px 1px rgba(255,255,255,0.25); }
}

.btn-glow {
  animation: glow 1s alternate infinite;
}

.btn-white-outline {
  @include button-outline-variant(white);
  &:hover, &:focus {
    color: $brand-highlight;
  }
}

.btn-highlight {
  @include button-variant(white, $brand-highlight, $brand-highlight);
}
.btn-highlight-outline {
  @include button-outline-variant($brand-highlight);
}

.btn-twitter {
  @include button-variant(white, $brand-twitter, $brand-twitter);
}
.btn-twitter-outline {
  @include button-outline-variant($brand-twitter);
}

.btn-circle {
  color: black;
  width: 64px; height: 64px;
  line-height: 64px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  border-radius: $border-radius-circle;
  background-color: rgba(0,0,0,0.05);
  @include transition(background-color 0.3s);

  .glyphicons { line-height: 64px; }

  &:hover, &:focus {
    background-color: rgba(0,0,0,0.1);
    color: black;
  }
}

.btn-lg .glyphicons {
  margin-top: -3px;
}

.btn-event {
  display: inline-block;
  &:hover, &:focus {
    text-decoration: none;
  }
}
