@import "variables";
@import 'mixins';

@keyframes glow {
  from { box-shadow: 0 0 0 1px white, 0 0 1px 1px transparent, inset 0 0 1px 1px transparent; }
  to   { box-shadow: 0 0 0 1px white, 0 0 5px 1px $brand-primary, inset 0 0 10px 1px rgba(255,255,255,0.25); }
}

.btn-glow {
  animation: glow 1s alternate infinite;
}

.btn-white-outline {
  @include button-outline-variant(white);
  @include hover {
    color: $brand-highlight;
  }
}

.btn-highlight {
  @include button-variant(white, $brand-highlight, $brand-highlight);
}
.btn-highlight-outline {
  @include button-outline-variant($brand-highlight);
}

.btn-twitter {
  @include button-variant(white, $brand-twitter, $brand-twitter);
}
.btn-twitter-outline {
  @include button-outline-variant($brand-twitter);
}
