@import "variables";
@import 'mixins';

.card-img-top {
  height: 200px;
  background-size: cover;
  background-position: center;
  background-color: $brand-primary;

  h1 {
    text-align: center;
    margin: 0;
    padding: 1em 1em 2em;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.25);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.75), rgba(0,0,0,0));
    border-radius: $border-radius $border-radius 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2rem;
    font-family: $serif;
    font-weight: 700;
  }

  @include media-breakpoint-down(xs) {
    height: 150px;
    h1 {
      padding-top: 2em;
    }
  }
}

.card-circle {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: $border-radius-circle;
  z-index: 1;
  padding: 10px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 -1px -1px -1px;
    border: solid 1px #f0f0f0;
    border-top-color: transparent;
    border-radius: 0 0 $border-radius-circle $border-radius-circle;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

@include media-breakpoint-up(md) {
  .row-md-center-line {
    position: relative;

    &:before {
      position: absolute;
      content: '';
      left: 50%;
      top: 0;
      bottom: 0;
      border-left: solid 1px #f0f0f0;
    }
  }
}

.event-attendees {
  display: block;
  list-style: none;
  padding: 0;
}

.event-attendee {
  display: block;
  line-height: 1.5rem;
  padding: .375rem 0;

  .avatar {
    width: 1.5rem;
    height: 1.5rem;
    float: left;
  }
}


.event-attendee-date {
  color: #888;

  .event-attendee:hover & {
    color: #444;
  }
}

.event-icon {
  width: 100%;
  height: 100%;
  border-radius: $border-radius-circle;
  background-color: #eee;
  background-size: cover;
}

.event-icon-sm {
  width: 24px;
  height: 24px;
}

.event-icon-open {
  background-image: image-url('sprites-retina/event-open.png');
  background-color: $brand-highlight;
}

.event-icon-finalised {
  background-image: image-url('sprites-retina/event-finalised.png');
  background-color: $brand-success;
}

.event-icon-closed {
  background-image: image-url('sprites-retina/event-closed.png');
  background-color: #ccc;
}
