@import 'variables';
@import 'mixins';

.navbar {
  background-color: white;
  border-bottom: solid 1px #ddd;
  padding-left: 0;
  padding-right: 0;

  .avatar {
    margin-top: -.1875rem;
    margin-bottom: -1.875rem;
    vertical-align: top;
  }
}

.navbar-brand img {
  margin: -.5rem .5rem -.5rem 0;
  float: left;
}

.navbar-nav {
  .nav-link {
    padding-top: .4375rem;
    padding-bottom: .4375rem;
  }
}

@include media-breakpoint-down(xs) {
  .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .card-block {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

hr {
  border-top-color: #f0f0f0;
}

.grey-page {
  background-color: #f0f0f0;
}