@import "variables";

.avatar {
  display: inline-block;
  border-radius: $border-radius-circle;
  width: 2rem;
  height: 2rem;
  background-size: cover;
  background-position: center;
}

.avatar-fill {
  width: 100%;
  height: 100%;
  display: block;
}

.block-items {
  display: inline-block;
  list-style: none;
  padding: 0;
}